.invisible-until-the-theme-is-set {
  visibility: hidden;
}

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

